
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NotLogged.cshtml";
}



<div class="about-section">
    <div class="container">
        <div class="row">



            <div class="col-md-6">

                <div class="white-box">

                    <div class="about-title">
                        <h3>A propos 4GL1</h3>
                    </div><!-- end about-title -->

                    <div class="about-content">
                        <p>L'École supérieure privée d'ingénierie et de technologie ou ESPRIT est une école d'ingénieurs privée de Tunisie basée à l'Ariana et agréée par le ministère de l'Enseignement supérieur et de la Recherche scientifique.</p>
                        <p>Créé en 2003, la School of Engineering accueille désormais prêt de 5000 élèves répartis en 4 spécialités : Informatique, Télécommunication, Génie Civil et Génie électromécanique. Les formations pouvant être suivis en cours du jour et aussi en cours du soir pour les personnes salariées. Esprit School of Engineering lors de sa création s’est donnée comme mission principale de former des ingénieurs «  autrement ». Pour cela l’école a adopté dès le départ une pédagogie nouvelle, dynamique mettant l’élève au centre de l’apprentissage cela a abouti à l’adoption de l’APP (apprentissage par projet/problème).</p>
                        <ul>
                            <li><strong>GL1A</strong> Groupe PIDEV</li>

                        </ul>
                    </div>

                </div><!-- end white-box -->
            </div>


            <div class="col-md-4">

                <div class="team-box">

                    <div class="team-title">
                        <h3>Notre équipe</h3>
                    </div><!-- end team-title -->

                    <div class="inner">

                        <div class="team-thumb">
                            <figure>
                                <img src="http://localhost/OTDAV/team/1.jpg" alt="">
                            </figure>
                            <div class="team-desc">
                                <p>Amine SAFI</p>
                                <span>Etudiant 4GL1</span>
                            </div><!-- end team-desc -->
                        </div><!-- end team-thumb -->



                        <div class="team-thumb">
                            <figure>
                                <img src="http://localhost/OTDAV/team/2.png" alt="">
                            </figure>
                            <div class="team-desc">
                                <p>Maroua DAOUAS</p>
                                <span>Etudiante 4GL1</span>
                            </div><!-- end team-desc -->
                        </div><!-- end team-thumb -->

                        <div class="team-thumb">
                            <figure>
                                <img src="http://localhost/OTDAV/team/3.png" alt="">
                            </figure>
                            <div class="team-desc">
                                <p>Radhouen OUECHTETI</p>
                                <span>Etudiant 4GL1</span>
                            </div><!-- end team-desc -->
                        </div><!-- end team-thumb -->

                        <div class="team-thumb">
                            <figure>
                                <img src="http://localhost/OTDAV/team/4.jpg" alt="">
                            </figure>
                            <div class="team-desc">
                                <p>Ilyes BLAGUI</p>
                                <span>Etudiant 4GL1</span>
                            </div><!-- end team-desc -->
                        </div><!-- end team-thumb -->

                        <div class="team-thumb">
                            <figure>
                                <img src="http://localhost/OTDAV/team/5.png" alt="">
                            </figure>
                            <div class="team-desc">
                                <p>Melek ZORGATI</p>
                                <span>Etudiant 4GL1</span>
                            </div><!-- end team-desc -->
                        </div><!-- end team-thumb -->




                        <div class="team-thumb">
                            <figure>
                                <a href="about.html">
                                    <img src="http://localhost/OTDAV/team/6.png" alt="">
                                </a>
                            </figure>
                            <div class="team-desc">
                                <p>Nada GHANNEM</p>
                                <span>Etudiante 4GL1</span>
                            </div><!-- end team-desc -->
                        </div>

                    </div>

                </div><!-- end blue-box -->
            </div>

            <div class="col-md-2">


            </div>


        </div>
    </div>
</div>