<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OTDAV</title>
    <!-- Bootstrap -->
    <link href=@Url.Content("~/Template/FrontOffice-NotLogged/css/styles.css") rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

    <br />
    <br />
   
        <div id="page" class="hfeed site">
            <!-- start page wrapper -->
          
                <header id="masthead" class="site-header navbar-fixed-top">
                    <div class="header-navigation">
                        <div class="container-fluid">
                            <div class="row">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".site-navigation" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo navbar-brand">
                                    <a href="#"><img src=@Url.Content("~/Template/FrontOffice-NotLogged/images/logo.png") alt="" title="Bengkel" width="70" height="70"></a>
                                </div><!-- end logo -->
                                <nav id="primary-navigation" class="site-navigation navbar-collapse collapse" role="navigation">
                                    <div class="nav-menu">
                                        <ul class="menu">
                                            <li ><a href="~/Declaration/AffDecFront">déclarations publiques</a></li>
                                          

                                         

                                            <li>@Html.ActionLink("Inscription Adhérent", "Index", "SignUpAdherent", null, null)</li>
                                            <li><a href="/Deposant/RegChoice">Inscription Deposant</a></li>
                                           
                                        </ul>
                                    </div><!-- end nav-menu -->
                                </nav><!-- end #primary-navigation -->
                                <div class="appoinment-header">
                                
                                    @Html.ActionLink("S'authentifier Adhérent", "Create", "LoginAdherent", null, new { @class = "btn btn-md btn-default" })
                                    <a href="/Deposant/Login" class="btn btn-md btn-default">S'authentifier Deposant</a>
                                </div>
                            </div><!-- end row -->

                        </div><!-- end container-fluid -->
                    </div><!-- end header-navigation -->
                </header><!-- end #masthead -->
            

            <div>

                @RenderBody()

            </div>

            <footer id="footer-section" class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-inner">
                                    <div class="widget-title-outer">
                                        <h3 class="widget-title">A propos</h3>
                                    </div>
                                    <p>Nous sommes le groupe 4GL1A</p>
                                   <p>Notre mission est de développer deux projets durant deux sprints</p>
                                </div><!-- end inner -->
                            </div><!-- end widget -->
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-inner">
                                    <div class="widget-title-outer">
                                        <h3 class="widget-title">établissement</h3>
                                    </div>
                                 
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><strong>Ecole </strong></td>
                                                <td> : ESPRIT </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Adresse</strong></td>
                                                <td> : Cebalat Ben Ammar</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Tel</strong></td>
                                                <td> : 70 685 685</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email</strong></td>
                                                <td> : <a href="mailto:admin@esprit.tn">admin@esprit.tn</a></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div><!-- end inner -->
                            </div><!-- end widget -->
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-inner">
                                    <div class="widget-title-outer">
                                        <h3 class="widget-title">Qr Code</h3>
                                    </div>
                                    <ul class="list-galleries">
                                        <li>
                                            <a href="#"><img src="http://localhost/OTDAV/chart.PNG" alt=""></a>
                                        </li>
                                      
                                    </ul>
                                </div><!-- end inner -->
                            </div><!-- end widget -->
                        </div>
                    </div>
                </div>
            </footer>



            <div class="footer-credit">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="copy">COPYRIGHT &copy; 2018 ESPRIT WEB DESIGN BY <a href="http://www.esprit.tn">GLA1A</a></p>
                        </div><!-- end column -->
                        <div class="col-md-6">
                            <ul class="list-socmed">
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div><!-- end column -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end footer-credit -->

        </div><!-- end #page hfeed site -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src=@Url.Content("~/Template/FrontOffice/js/vendor/jquery-1.11.1.min.js")></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src=@Url.Content("~/Template/FrontOffice/js/bootstrap.min.js")></script>
        <script src=@Url.Content("~/Template/FrontOffice/js/plugin.js")></script>
        <script src=@Url.Content("~/Template/FrontOffice/js/main.js")></script>

  
</body>
</html>
